html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

li {
  margin-left: 12px;
}

div h6 {
  font-family: 'Montserrat', sans-serif;
  padding-top: 12px;
  text-decoration: underline;
}

#navigation a {
  color: #E0F7FA;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

#navigation {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 12px 0;
  margin: 0;
}

#iconList, #navigation{
  list-style-type: none;
}

#banner {
  height: auto;
  top: 50%;
  left: 50%;
  margin: auto;
  text-align: center;
}

.icons {
  display: block;
  display: inline;
  padding: 12px;
}

.centeredImage {
  border-radius: 50%;
  padding-bottom: 12px;
}

.navbar-inverse {
  border-radius: 0%;
}

.resumeItems {
  padding-left: 12px;
}

.infoBox {
  border-style: none none solid none;
  border-top-color: #90A4AE;
  border-bottom-color: #455A64;
  border-width: thin;
  background: #EEEEEE;
  padding: 25px;
}

.montFontLG {
  color: #E0F7FA;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  text-align: center;
  padding-bottom: 0;
  margin: -10px;
}

.montFontMD {
  color: #FFCA28;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  text-align: left;
  padding: 0;
  margin: 0;
}

.montFontSM {
  color: #E0F7FA;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  text-align: center;
  padding: 0 5%;
}

.bodyText {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  text-align: left;
  padding-left: 12px;
}

.shadow {
  box-shadow: 0px 0px 85px -15px rgba(0,0,0,1);
}
